html {
  font-size: 10px;
}
body {
  font-family: sans-serif;
  background-color: #d3d3d3;

  font-size: 16px;
  display: grid;
}
*,
¨::before,
::after {
  box-sizing: border-box;
}

/* .popup{
position fixed
top 50%
left 50%
transform:translate (-50%, -50%)
width 500px
height: 500px
background-color
} */

button {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: #ff00ff;
}
.firstButton {
  background-color: #00ff00;
}
.secondButton {
  font-size: 5rem;

  background-color: #00ff00;
}
